

<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->


<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->

<section class="container sbr clearfix">

<!-- - - - - - - - - - Page Header - - - - - - - - - - -->

<div class="page-header">

  <h1 class="page-title">Blog</h1>

</div><!--/ .page-header-->

<!-- - - - - - - - - end Page Header - - - - - - - - - -->


<!-- - - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

<section id="content" class="first">

  <article class="post clearfix">

    <a href="single-post.html">
      <h3 class="title">
        Suspendisse potenti  nullam consectetur, metus vestibulum urna ipsum fringilla velit felis vitae ante.
      </h3><!--/ .title -->
    </a>

    <section class="post-meta clearfix">

      <div class="post-date"><a href="#">June 15, 2012</a></div><!--/ .post-date-->
      <div class="post-tags">
        <a href="#">News</a>
        <a href="#">Events</a>
        <a href="#">People</a>
      </div><!--/ .post-tags-->
      <div class="post-comments"><a href="#">5 Comments</a></div><!--/ .post-comments-->

    </section><!--/ .post-meta-->

    <a class="single-image" href="images/gallery/fullscreen/04.jpg">
      <img class="custom-frame" alt="" src="images/blog/post-1.jpg" />
    </a>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing tincidunt malesuada. Aenean metus lorem, lacinia est.
      Maecenas sit amet magna eget rhoncus imperdiet. Quisque consectetur lacinia felis, posumassa fermentum vel.
      Morbi metus nibh, tincidunt ac luctus hendrerit, iaculis sed velit.
    </p>

    <a href="single-post.html" class="button gray">Read More &rarr;</a>

  </article><!--/ .post-->

  <article class="post clearfix">

    <a href="single-post.html">
      <h3 class="title">Potenti  nullam consectetur urna ipsum</h3><!--/ .title -->
    </a>

    <section class="post-meta clearfix">

      <div class="post-date"><a href="#">June 15, 2012</a></div><!--/ .post-date-->
      <div class="post-tags">
        <a href="#">News</a>
      </div><!--/ .post-tags-->
      <div class="post-comments"><a href="#">5 Comments</a></div><!--/ .post-comments-->

    </section><!--/ .post-meta-->

    <div class="image-post-slider">

      <ul>
        <li>
          <a href="images/blog/post-6.jpg" class="single-image picture-icon" rel="group">
            <img class="custom-frame" src="images/blog/post-6.jpg" alt="Slide1" />
          </a>
        </li>

        <li>
          <a href="images/blog/post-1.jpg" class="single-image picture-icon" rel="group">
            <img class="custom-frame" src="images/blog/post-1.jpg" alt="Slide2" />
          </a>
        </li>

        <li>
          <a href="images/blog/post-7.jpg" class="single-image picture-icon" rel="group">
            <img class="custom-frame" src="images/blog/post-7.jpg" alt="Slide3" />
          </a>
        </li>
      </ul>

    </div><!--/  .image-post-slider -->

    <p>
      Lorem ipsum dolor amet, consectetur adipidunt malesuada. Aenean metus lorem, cus imperdiet.
      Quisque consectetur lacinia felis.
    </p>

    <a href="single-post.html" class="button gray">Read More &rarr;</a>

  </article><!--/ .post-->

  <article class="post clearfix">

    <a href="single-post.html">
      <h3 class="title">Post Without Image</h3><!--/ .title -->
    </a>

    <section class="post-meta clearfix">

      <div class="post-date"><a href="#">June 15, 2012</a></div><!--/ .post-date-->
      <div class="post-tags">
        <a href="#">News</a>
      </div><!--/ .post-tags-->
      <div class="post-comments"><a href="#">5 Comments</a></div><!--/ .post-comments-->

    </section><!--/ .post-meta-->

    <p>
      Suspendisse potenti. Praesent sit amet rhoncus nisi. Etiam tristique velit ut felis ultrices pulvinar.
      Ut elit leo, condimentum nec consectetur non, tincidunt malesuada lorem. Phasellus imperdiet risus augue
      fermentum pharetra. Curabitur magna lacus, viverra eu laoreet sed, aliquet et orci. Mauris a varius dui.
      Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt nunc.
      Donec est metus, blandit id elementum euismod, facilisis quis dolor.
    </p>

    <a href="single-post.html" class="button gray">Read More &rarr;</a>

  </article><!--/ .post-->

  <article class="post clearfix">

    <a href="single-post.html">
      <h3 class="title">YouTube</h3><!--/ .title -->
    </a>

    <section class="post-meta clearfix">

      <div class="post-date"><a href="#">June 15, 2012</a></div><!--/ .post-date-->
      <div class="post-tags">
        <a href="#">News</a>
      </div><!--/ .post-tags-->
      <div class="post-comments"><a href="#">5 Comments</a></div><!--/ .post-comments-->

    </section><!--/ .post-meta-->

    <iframe class="custom-frame" width="590" height="340" src="http://www.youtube.com/embed/jilRF0mocRQ?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>

    <p>
      Suspendisse potenti. Praesent sit amet rhoncus nisi. Etiam tristique velit ut felis ultrices pulvinar.
      Ut elit leo, condimentum nec consectetur non, tincidunt malesuada lorem. Phasellus imperdiet risus augue
      fermentum pharetra. Curabitur magna lacus, viverra eu laoreet sed, aliquet et orci. Mauris a varius dui.
      Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt nunc.
      Donec est metus, blandit id elementum euismod, facilisis quis dolor.
    </p>

    <a href="single-post.html" class="button gray">Read More &rarr;</a>

  </article><!--/ .post-->

  <article class="post clearfix">

    <a href="single-post.html">
      <h3 class="title">Blockquotes</h3><!--/ .title -->
    </a>

    <section class="post-meta clearfix">

      <div class="post-date"><a href="#">June 15, 2012</a></div><!--/ .post-date-->
      <div class="post-tags">
        <a href="#">News</a>
      </div><!--/ .post-tags-->
      <div class="post-comments"><a href="#">5 Comments</a></div><!--/ .post-comments-->

    </section><!--/ .post-meta-->

    <blockquote>
      Suspendisse potenti. Praesent sit amet rhoncus nisi. Etiam tristique velit ut felis ultrices pulvinar.
      condimentum  consectetur non, tincidunt malesuada lorem. Phasellus imperdiet risus augue fermentum pharetra
      rabitur magna lacus, viverra eu laoreet.
    </blockquote>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing tincidunt malesuada. Aenean metus lorem, lacinia est.
      Maecenas sit amet magna eget rhoncus imperdiet. Quisque consectetur lacinia felis, posumassa fermentum vel.
      Morbi metus nibh, tincidunt ac luctus hendrerit, iaculis sed velit.
    </p>

    <a href="single-post.html" class="button gray">Read More &rarr;</a>

  </article><!--/ .post-->


</section><!--/ #content-->

<!-- - - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - - -->


<!-- - - - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - -->

<aside id="sidebar">

<div class="widget-container widget_search">

  <form action="#" id="searchform" method="get" role="search" />

  <fieldset>
    <input type="text" id="s" placeholder="Search" />
    <button type="submit" id="searchsubmit"></button>
  </fieldset>

  </form><!--/ #searchform-->

</div><!--/ .widget-container-->

<div class="widget-container eventsListWidget">

  <h3 class="widget-title">Upcoming Events</h3>

  <ul>

    <li>
      <a href="#"><h6>Suspendisse Potenti Consectetur</h6></a>
      <span class="widget-date">June 15, 2012</span>

    </li>
    <li>
      <a href="#"><h6>Mauris Vitae Adipiscing et Urna</h6></a>
      <span class="widget-date">June 14, 2012</span>
    </li>
    <li>
      <a href="#"><h6>Donec Blandit Luctus Diam</h6></a>
      <span class="widget-date">June 13, 2012</span>
    </li>

  </ul>

</div><!--/ .widget-container-->

<div class="widget-container widget_categories">

  <h3 class="widget-title">Categories</h3>

  <ul>

    <li><a href="#">Politic News</a></li>
    <li><a href="#">Responsive Wordpress</a></li>
    <li><a href="#">Upcoming Events</a></li>

  </ul>

</div><!--/ .widget-container-->

<div class="widget-container widget_video">

  <h3 class="widget-title">Video Title</h3>

  <div class="video-widget">
    <iframe class="custom-frame" width="290" height="200" src="http://www.youtube.com/embed/jilRF0mocRQ?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
  </div><!--/ .video-widget-->
  <div class="video-entry">
    <a href="#" class="video-title">
      <h5>Potenti Nullam Consectetur Urna Ipsum Fringilla</h5>
    </a>
  </div><!--/ .video-entry-->

</div><!--/ .widget-container-->

<div class="widget-container widget_calendar">

  <h3 class="widget-title">Calendar</h3>

  <div id="calendar_wrap">

    <table id="wp-calendar">

      <caption>June 2012</caption>

      <thead>
      <tr>
        <th scope="col" title="Monday">M</th>
        <th scope="col" title="Tuesday">T</th>
        <th scope="col" title="Wednesday">W</th>
        <th scope="col" title="Thursday">T</th>
        <th scope="col" title="Friday">F</th>
        <th scope="col" title="Saturday">S</th>
        <th scope="col" title="Sunday">S</th>
      </tr>
      </thead>

      <tfoot>
      <tr>
        <td colspan="3" id="prev"><a href="#" title="">May</a></td>
        <td class="pad">&nbsp;</td>
        <td colspan="3" id="next" class="pad"><a href="#" title="">June</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td colspan="4" class="pad">&nbsp;</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td><a href="#">5</a></td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td id="today">9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
      </tr>
      <tr>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
      </tr>
      <tr>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td class="pad" colspan="1">&nbsp;</td>
      </tr>
      </tbody>

    </table><!--/ #wp-calendar-->

  </div><!--/ #calendar_wrap-->

</div><!--/ .widget-container-->

<div class="widget-container widget_popular_posts">

  <h3 class="widget-title">Popular Posts</h3>

  <ul>

    <li>
      <a href="#"><h6>Curabitur Posuere Nisl</h6></a>
      <span class="widget-date">June 15, 2012, 5 Comments</span>
    </li>
    <li>
      <a href="#"><h6>Vivamus Consequat Pellentesque</h6></a>
      <span class="widget-date">June 15, 2012, 5 Comments</span>
    </li>
    <li>
      <a href="#"><h6>Donec Blandit Luctus Diam</h6></a>
      <span class="widget-date">June 15, 2012, 5 Comments</span>
    </li>

  </ul>

</div><!--/ .widget-container-->

<div class="widget-container widget_testimonials">

  <h3 class="widget-title">Testimonial Widget</h3>

  <div class="testimonials">

    <div class="substrate-rotate-left"></div>
    <div class="substrate-rotate-right"></div>

    <div class="quoteBox">

      <ul class="quotes">
        <li>
          <div class="quote-text">
            Suspendisse potenti. Praesent sit amet rhoncus nisi. Etiam tristique velit
            ut felis ultrices pulvinar. condimentum.
          </div><!--/ .quote-text-->
          <div class="quote-author">
            Jessica Spenser
            <span>Manager</span>
          </div><!--/ .quote-author-->
        </li>
        <li>
          <div class="quote-text">
            Proin nonummy, lacus eget pulvinar lacinia, pede felis dignissim leo, vitae tristique.
            Nullam ornare. Praesent odio ligula, dapibus sed.
          </div><!--/ .quote-text-->
          <div class="quote-author">
            James Brown
            <span>Director</span>
          </div><!--/ .quote-author-->
        </li>
      </ul><!--/ .quotes-->

    </div><!--/ .quoteBox-->

  </div><!--/ .testimonials-->

</div><!--/ .widget-container-->

</aside><!--/ #sidebar-->

<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->

<ul class="pagination">

  <li><a class="prevpostslink" href="#"><span>&larr;</span> Previous</a></li>
  <li><a href="#">1</a></li>
  <li><a class="current" href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a class="nextpostslink" href="#">Next <span>&rarr;</span></a></li>

</ul><!--/ .pagination-->


</section><!--/.container -->
