/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    position: relative;
    padding: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}


.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 auto; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}
.flexslider .slides {zoom: 1;}

.flexslider .slides > li {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 8px solid #e0e1e3; overflow: hidden;
}
/* Caption style */
/* IE rgba() hack */
.flex-caption {}
.flex-caption {margin: 0; position: absolute; left: 5%; bottom: 10%; color: #888; text-shadow: 0 1px 0 rgba(0,0,0,.3);}

.flex-caption h4 a, .flex-caption p {
    display:inline-block;
    margin:0;
    width:90%;
    transition: background 0.4s;
    -moz-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    -o-transition: background 0.4s;
    padding: 6px 18px 6px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=40);
    opacity: 0.7;
}

.flex-caption h4 a{
    color: #888;
    background: #000;
    display:inline-block;
    width:90%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    transition: background 0.4s;
    -moz-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    -o-transition: background 0.4s;
}
.flex-caption h4 {
    margin:0;
}
.flex-caption h4 a:hover {
    text-decoration: none;
    color: #fff;
    background: #f8552f;
}
.flex-caption p {
    font-size: 16px;
    background: #fff;
}

/* Direction Nav */
.flex-direction-nav { height:0;}
.flex-direction-nav li a {
    text-indent: -999em;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    width: 88px; height: 88px;
    display: none;
    background: url(/images/orange/slider-arrows.png) no-repeat -92px 0;
    position: absolute;
    top:40%;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    opacity: 0.2;
}
.flex-direction-nav li a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.flex-direction-nav li .next {background-position: 0 0; right: 20px;}
.flex-direction-nav li .prev {left: 20px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -25px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 16px; display: block; background: url(/images/orange/home-slider.png) no-repeat -18px 0; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: -1px 0;}
.flex-control-nav li a.active {background-position: -1px 0; cursor: default;}

@media only screen and (max-width: 480px){
    .flex-direction-nav li a{
        top:20%;
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        display:block;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        filter: alpha(opacity=90);
        opacity: 0.9;
    }

    .flex-direction-nav li .next {	right:-10px;}
    .flex-direction-nav li .prev {	left:-10px;}
    .flex-caption{display:none;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .flex-direction-nav li a{
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70);
        opacity: 0.7;
    }
}